:root {
    --primary-text-color:#212121;
    --text-color:#ffffff;
    --second-color-text:#757575;
    --primary-background-color:#F5F5F5;
    --text-header-link:#212121;
    --second-background-color:#F5F4FA; 
    --background-color:#2F303A;
    --hover-text-color:#2196F3;
}
    
body {font-family: roboto, sans-serif;
color:var(--primary-text-color);
background-color:var(--primary-background-color)
}
li {list-style-type: none}

/* Header */
.page-header {background-color:var(--primary-background-color);
font-size: 14px;}

.logo {font-family: Raleway;
    font-size: 26px;
    color:#000000;
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;}
    
.logo:hover {text-decoration:underline;
        text-decoration-color: #2196F3;}
.web-header {color:#2196F3}

.page-header {background-color:var(--primary-background-color);}

.link {text-decoration: none;
    color:var(--text-header-link)
    }
.link:cursor, .link-header:cursor, .link-footer:cursor {pointer}

.link:hover , .link-header:hover { color:var(--hover-text-color)
   }
.link-header:focus, .link:focus, .link-footer:focus {color:#2196F3}
.link-header {text-decoration: none;
    color:#757575}



/* Hero */
.hero-section {background-color: var(--background-color);}
.title {color: var(--text-color);
font-size:44px;
text-align: center}
.buttons {color:var(--text-color);
font-size:16px;
background-color: var(--hover-text-color);}

/* section-features */

.section-features {}
.features {color:transparent}
.features-title {font-size: 14px;}
.features-text {font: size 14px;
color: rgba(117, 117, 117, 1);
;}

/* footer */
.page-footer {background-color:#2F303A;}
.contacts {color:transparent}
.footer-contact{color:#FFFFFF}
